/* Gotham Regular */
@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham/Gotham-Light.otf');
		/*
    src: url('fonts/gotham/Gotham-Light.eot');
    src: url('fonts/gotham/Gotham-Light?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Light.woff') format('woff'),
         url('fonts/gotham/Gotham-Light.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Light.svg#gotham') format('svg');
		*/
    font-weight: normal;
    font-style: normal;
}

/* Gotham Regular */
@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/gotham/Gotham-Medium.otf');
		/*
    src: url('fonts/gotham/Gotham-Medium.eot');
    src: url('fonts/gotham/Gotham-Medium?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Medium.woff') format('woff'),
         url('fonts/gotham/Gotham-Medium.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Medium.svg#gotham') format('svg');
		*/
    font-weight: bold;
    font-style: normal;
}