/* Chrome Detection */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	
    .modal.html-video .video1 {
		display: none !important;
    }

    .modal.html-video .close {
		display: none !important;
    }    
    
    .modal.flash-video .video0 {
    	display: block !important;
    }
    
   	.modal.flash-video .close {
    	display: block !important;
    }    
    
    .launch.flash {
    	display: block !important;
    }
    
    .launch.html {
    	display: none !important;
    }
}

@-moz-document url-prefix() {
    .modal.html-video .video1 {
		display: block !important;
    }
    
    .modal.html-video .close {
		display: block !important;
    }    
    
    .modal.flash-video .video0 {
    	display: none !important;
    }
    
    .modal.flash-video .close {
    	display: none !important;
    }    
    
    .launch.flash {
    	display: none !important;
    }
    
    .launch.html {
    	display: block !important;
    }    
}

:root .modal.html-video .video1 {
		display: block;
    }
    
:root .modal.html-video .close {
		display: block;
    }    
    
:root .modal.flash-video .video0 {
    	display: none;
    }
    
:root .modal.flash-video .close {
    	display: none;
    }    
    
:root .launch.flash {
    	display: none;
    }
    
:root .launch.html {
    	display: block;
    }    	

/*
body {
	width: 1020px;
	font-family: Gotham, sans-serif;
	font-size: .95em;
	margin: 100px auto 0;
}
*/

a {
	color: #4791dc;
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: 400;
	line-height: 1.3em;
}

h1 {
	color: #006cdb;
	font-size: 1.85em;
}

h2 {
	display: inline-block;
	font-size: 2em;
	text-align: center;
}

h2:before, h2:after {
	display: inline-block;
	width: 170px;
	height: .25em;
	border-top: 1px solid #fff;
	content: '';
	margin: 0 14px;
}

menu, ol, ul {
	padding: 0;
}

.wrapper {
	margin: 0 30px;
}

header {
	position: fixed;
	top: 0;
	width: 1020px;
	height: 50px;
	background: #fff;
	border-bottom: 4px solid #4791dc;
	z-index: 100;
	padding: 23px 0;
	background:#fff;
}

header .logo {
	float: left;
	width: 195px;
	height: 55px;
	background: url(../gfx/top_logo.png);
}

header .logo a {
	display: block;
	height: 50px;
	text-indent: 200px;
	overflow: hidden;
}

header nav {
	float: right;
}

header nav li {
	float: left;
	margin-left: 20px;
}

header nav li a {
	display: block;
	padding: 18px 5px;
}
header nav li.scroll a.current{
	color:#EC8100;
}

header nav li.active a{
	color:#EC8100;
}

.section {
	padding: 50px 0;
}

.section .title {
	display: block;
	width: 540px;
	margin: 0 auto;
}

.section#home {
	height: 347px;
	background: url(../gfx/feature_bg.jpg);
	border-bottom: 50px solid #4791dc;
}

.section#home .headline {
	width: 350px;
	padding: 50px 0 0 80px;
}

.section#home .headline .launch_arrow {
	display: block;
	width: 190px;
	color: #EC8100;
	font-size: 1.3em;
	background: url(../gfx/more_arrow.png) no-repeat center right;
	padding: 20px 0;
}

.section#features {
	background: #EC8100;
	color: #fff;
}

.section#features .core_header {
	text-align: center;
	padding-bottom: 50px;
}

.section#features ul li {
	display: inline-table;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.section#features .core_list {
	position: relative;
	margin: 0 auto;
}

.section#features .core_list h3 {
	font-family: Gotham, Arial, sans-serif;
	color: #fff;
	font-size: 23px;
	text-align: center;
	padding-bottom: 4px;
	background-color: #f3a84d;
	height: 33px;
	width: 269px;
	margin-bottom: 10px;
	padding-top: 15px;
}

.section#features .core_list ul {
	display: block;
	text-align: center;
	padding-top: 20px;
	height: 204px;
	width: 269px;
	background-color: #f3a84d;
	margin: 0 auto;
}

.section#features .core_list ul li {
	width: 230px;
	height: 26px;
	background-color: #fad4a6;
	border-radius: 50px;
	text-align: center;
	font-family: Gotham, Arial, sans-serif;
	font-size: 14px;
	display: inline-table;
	color: #000;
	margin: 2px;
}

.section#features .core_list ul li a {
	text-decoration: none;
	color: #000;
}

.section#features .core_list ul li > a {
	display: block;
	border-radius: 50px;
	height: 26px;
}

.section#features .core_list ul li > a.selected {
	background-color: #ef8200;
	color: #fff;
}

.section#features .core_list ul li span {
	position: relative;
	top: 6px;
}

.section#features .core_list ul li h3 {
	font-family: Gotham, Arial, sans-serif;
	font-size: 22px;
	color: #fff;
	position: relative;
	float: right;
}

.section#features .core_list ul li .core_title.layers {
	right: 88px;
	top: 20px;
}

.section#features .core_list ul li .core_title.services {
	right: 20px;
	top: 20px;
}

.section#features .core_list ul li .core_title.portal {
	right: 145px;
	top: 20px;
}

.section#features .core_list ul li img {
	position: relative;
	float: left;
}

.section#features .core_list ul li .core_icon {
	left: 13px;
}

.section#features .core_list ul li .core_plus {
	position: relative;
	top: 215px;
}

.drop_arrow {
	float: right !important;
	position: absolute !important;
	left: 230px;
	top: 21px;
}

.open_arrow {
	float: right !important;
	position: absolute !important;
	left: 230px;
	top: 21px;
	opacity: 1;
}

a.selected {
	background-color: #1F75CC;
	color: #FFF;
	z-index: 100;
}

.messagepop {
	background-color: #FFF;
	cursor: default;
	position: absolute;
	text-align: left;
	width: 196px;
	z-index: 50;
	padding: 25px 25px 20px;
}

.messagepop:after, .messagepop:before {
	bottom: 100%;
	left: 50%;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #FFF;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messagepop:after {
	margin-left: -18px;
	border-color: rgba(255,255,255,0) rgba(255,255,255,0) #fff;
	border-width: 18px;
}

.messagepop:before {
	margin-left: -20px;
	border-color: rgba(0,0,0,0) rgba(0,0,0,0) fff;
	border-width: 20px;
}

.messagepop .close_btn {
	float: right !important;
	bottom: 15px;
	left: 15px;
	cursor: pointer;
}

.messagepop .message_copy h4 {
	font-size: 15px;
	line-height: 15px;
	color: #e07a00;
	margin-bottom: 10px;
	font-weight: normal;
}

.messagepop .message_copy p {
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 10px;
}

.messagepop .message_gfx {
	float: left : 200px;
	display: none;
}

.messagepop .view_more {
	color: #fff;
	background-color: #ef8200;
	cursor: pointer;
	float: left;
	border-radius: 15px;
	width: 73px;
	height: 15px;
	padding-bottom: 0;
	text-align: center;
	margin-bottom: 0 !important;
	display: none;
}

.messagepop .view_more a {
	color: #fff !important;
	text-decoration: none;
	position: relative;
	top: 1px;
	font-size: 12px !important;
}

label {
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
	text-indent: -15px;
}

.section#benefits {
	background: #4791dc;
	color: #fff;
	position: relative;
	background-color: #4891dc;
	padding-bottom: 80px;
	width: 1020px;
	z-index: 1;
}

.section#benefits .benefits_body {
	display: table;
	margin: 0 auto;
}

.section#benefits .benefits_body ul {
	text-align: center;
	position: relative;
	margin: 30px auto 0;
}

.section#benefits .benefits_body ul li {
	display: inline;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
}

.section#benefits .benefits_body ul li span {
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.section#benefits .benefits_body ul .flipbox {
	cursor: pointer;
}

.section#benefits .benefits_body ul li .help_icons {
	margin-bottom: 12px;
}

.section#benefits .benefits_body ul li p {
	font-family: Gotham, Arial, sans-serif;
	font-size: 18px;
	color: #fff;
	opacity: .8;
}

.section#benefits .benefits_body ul li .plus_icon {
	margin-top: 20px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #FFF;
	position: relative;
	margin: 0px auto 0;
}

.section#benefits .benefits_copy {
	width: 740px;
	background-color: #fff;
	position: relative;
	display: table;
	margin: 0 auto;
	padding: 25px 40px;
}

.section#benefits .benefits_copy .sub_header {
	color: #363535;
	font-size: 14px;
	text-align: left;
	line-height: 17px;
	padding-bottom: 20px;
}

.section#benefits .benefits_copy .learn_more {
	clear: both;
	padding-top: 30px;
	display: none;
}

.section#benefits .benefits_copy .learn_more span {
	font-family: Gotham-Bold, Arial, sans-serif;
	font-size: 13px;
	color: #3d3d3d;
	padding-bottom: 0;
}

.section#benefits .benefits_copy .learn_more .click_here {
	text-decoration: underline;
	color: #3e89d6;
}

.section#benefits .benefits_copy p {
	font-family: Gotham, Arial, sans-serif;
	color: #3d3d3d;
	font-size: 13px;
	line-height: 20px;
}

.section#benefits .benefits_copy .benefits_breadcrumb span {
	font-family: Gotham, Arial, sans-serif;
	color: #686868;
	font-size: 12px;
	padding-bottom: 5px;
}

.section#benefits .benefits_copy .benefits_breadcrumb .selected {
	color: #4891dc;
}

.section#benefits .benefits_copy h3 {
	font-family: Gotham, Arial, sans-serif;
	color: #408ad5;
	font-size: 24px;
	padding-bottom: 10px;
	padding-top: 20px;
	text-align: left;
}

.section#benefits .benefits_copy h4 {
	font-family: Gotham, Arial, sans-serif;
	color: #4891dc;
	font-size: 17px;
	padding-bottom: 3px;
	text-align: left;
}

.section#benefits .benefits_copy .copy_left {
	float: left;
	width: 50%;
}

.section#benefits .benefits_copy .copy_right {
	float: right;
	width: 45%;
}

.section#roadmap .roadmap_header h2 {
	padding-bottom: 17px;
}

.section#roadmap h2:before, .section#roadmap h2:after {
	width: 170px;
	border-top: 1px solid #ccc;
}

.section#roadmap #carousel {
	color: #333;
	font-size: .95em;
}

.section#roadmap #carousel .cycle-carousel-wrap p {
	white-space: normal !important;
}

.section#roadmap #carousel #cycle-2 .cycle-slide {
	width: 460px;
	height: 330px;
	background: #eee;
	margin: 0 -165px 0 255px;
	padding: 25px;
	z-index: 0;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info {
	float: left;
	width: 300px;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info p.date {
	margin-bottom: 1.2em;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info p.event {
	margin-bottom: .2em;
	font-size: 1.4em;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info p.green {
	color: #5a8e21;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info p.orange {
	color: #ee8200;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info p.purple {
	color: #a980a6;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .info p {
	margin-bottom: 1em;
	font-size: .9em;
	line-height: 1.4em;
}

.section#roadmap #carousel #cycle-2 .cycle-slide .logo {
	float: right;
	margin-top: 75px;
	width: 100px;
}

.section#roadmap .cycle-prev {
	display:none;
	position: absolute;
	width: 19px;
	height: 39px;
	background: url(../gfx/left_arrow_timeline.png);
	text-indent: 19px;
	overflow: hidden;
	z-index: 1;
	margin: 130px 0 0 225px;
}

.section#roadmap .cycle-next {
	display: block;
	position: absolute;
	width: 19px;
	height: 39px;
	background: url(../gfx/right_arrow_timeline.png);
	text-indent: 19px;
	overflow: hidden;
	z-index: 1;
	margin: 130px 0 0 775px;
}

.section#roadmap #pager {
	text-align: center;
	margin: 30px auto;
}

.section#roadmap #pager a {
	display: inline-block;
	text-align: right;
	width: 30px;
	height: 30px;
	margin: 0 25px;
}

.section#roadmap #pager a.cycle-pager-active, #pager a:hover {
	background-position: center bottom;
}

.section#roadmap hr.line {
	position: absolute;
	left: 50%;
	width: 500px;
	border: 0;
	border-top: 1px solid #ccc;
	z-index: -999;
	margin: -50px 0 0 -250px;
}

.section#roadmap .hide-last {
	position: absolute;
	width: 180px;
	height: 300px;
	background: #fff;
	z-index: 1;
}

.modal {
	display: none;
	position: absolute;
	top: 88px;
	background: #fff;
	z-index: 0;
}

.modal .close {
	display: block;
	position: absolute;
	right: 0;
	width: 30px;
	height: 30px;
	background-image: url(../gfx/close_video.png);
	z-index: 1;
	margin: 10px;
}

footer {
	height: 50px;
	background: #666;
	color: #fff;
	font-size: .75em;
	padding: 20px 20px 30px;
}

footer .logo-btm {
	margin-bottom: 12px;
	width: 275px;
	height: 24px;
	background: url(../gfx/bottom_logo.png);
}

.section#features .core_header h2, .section#benefits .benefits_header h2 {
	font-size: 32px;
	font-family: Gotham, Arial, sans-serif;
	color: #fff;
	padding-bottom: 17px;
}

.section#features .core_header p, .section#benefits .benefits_header p {
	font-size: 16px;
	font-family: Gotham, Arial, sans-serif;
	color: #fff;
	width: 650px;
	line-height: 20px;
	margin: 0 auto;
}

.section#features ul, .section#benefits .benefits_header, .section#roadmap .roadmap_header {
	text-align: center;
}

#core_1, #core_2, #core_3, #core_4, #core_5, #platform_1, #platform_2, #platform_3, #platform_4, #platform_5, #experience_1, #experience_2, #experience_3, #experience_4, .section#benefits .benefits_copy .benefits_breadcrumb, .section#benefits .operations_copy, .section#benefits .developers_copy, .modal .legacy {
	display: none;
}

.messagepop.message_experience, .messagepop.message_platform, .messagepop.message_core {
	top: 25px;
	left: -6px;
}

.section#roadmap, .section#roadmap #carousel #cycle-2 .cycle-slide .info p.blue {
	color: #4791dc;
}