.modal.html-video .video1 {
	display: none !important;
}

.modal.html-video .close {
	display: none !important;
}

.modal.flash-video .video0 {
	display: block !important;
}

.modal.flash-video .close {
	display: block !important;
}

.launch.flash {
	display: block !important;
}

.launch.html {
	display: none !important;
} 