body{margin:100px auto 0 auto;width:1020px;font-family:"Gotham",sans-serif;font-size:.95em;}
a{color:#4791dc;text-decoration:none;}
h1,h2,h3{font-weight:normal;line-height:1.3em;}
h1{color:#006cdb;font-size:1.85em;}
h2{display:inline-block;font-size:2em;text-align:center;}
h2:before,h2:after{display:inline-block;margin:0 14px;width:170px;height:.25em;border-top:1px solid #fff;content:'';}
menu, ol, ul{padding:0px 0px 0px 0px}

.wrapper{margin:0 30px;}

header{position:fixed;top:0;width:1020px;padding:23px 0;height:50px;background:#fff;border-bottom: 4px solid #4791dc;z-index:1;}
header .logo{float:left;width:195px;height:50px;background:url(../gfx/top_logo.png);}
header .logo a{display:block;height:50px;text-indent:200px;overflow:hidden;}
header nav{float:right;}
header nav li{float:left;margin-left:20px;}
header nav li a{display:block;padding:18px 5px;}

.section{padding:50px 0;}
.section .title{display:block;margin:0 auto;width:540px;}

.section#home{height:347px;background:url(../gfx/feature_bg.jpg);border-bottom: 50px solid #4791dc;}
.section#home .headline{padding:50px 0 0 80px;width:350px;}
.section#home .headline a{display:block;padding:20px 0;width:190px;color:#EC8100;font-size:1.3em;background:url(../gfx/more_arrow.png) no-repeat center right;}

.section#features{background:#EC8100;color:#fff;}


.section#features .core_header {
	text-align: center;
	padding-bottom: 50px;
}

.section#features .core_header h2 {
	font-size: 32px;
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #fff;
	padding-bottom: 17px;
}

.section#features .core_header p {
	font-size: 16px;
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #fff;
	width: 650px;
	margin: 0 auto;
	line-height: 20px;
}

.section#features ul {
	text-align: center;
}

.section#features ul li {
	display: inline-table;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.section#features .core_list {
	margin: 0 auto;
	position: relative;
}

.section#features .core_list h3 {
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #fff;
	font-size: 23px;
	text-align: center;
	padding-bottom: 4px;
	background-color: #f3a84d;
	height: 33px;
	width: 269px;
	margin-bottom: 10px;
	padding-top: 15px;
}

.section#features .core_list ul {
	display: block;
	margin: 0 auto;
	height: auto;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	height: 204px;
	width: 269px;
	background-color: #f3a84d;
}

.section#features .core_list ul li {
	width: 230px;
	height: 26px;
	margin: 2px;
	background-color: #fad4a6;
	border-radius: 50px;
	text-align: center;
	font-family: 'Gotham', 'Arial', sans-serif;
	font-size: 14px;
	display: inline-table;
	color: #000;
}

.section#features .core_list ul li a {
	text-decoration: none;
	color: #000;
}

.section#features .core_list ul li > a {
	display: block;
	border-radius: 50px;
	height: 26px;
}

.section#features .core_list ul li > a.selected {
	background-color: #ef8200;
	color: #fff;
}

.section#features .core_list ul li span {
	position: relative;
	top: 7px;
}

.section#features .core_list ul li h3 {
	font-family: 'Gotham', 'Arial', sans-serif;
	font-size: 22px;
	color: #fff;
	position: relative;
	float: right;
}

.section#features .core_list ul li .core_title.layers {
	right: 88px;
	top: 20px;
}

.section#features .core_list ul li .core_title.services {
	right: 20px;
	top: 20px;
}

.section#features .core_list ul li .core_title.portal {
	right: 145px;
	top: 20px;
}

.section#features .core_list ul li img {
	position: relative;
	float: left;
}

.section#features .core_list ul li .core_icon {
	left: 13px;
}

.section#features .core_list ul li .core_plus {
	position: relative;
	top: 215px;
}

.drop_arrow {
	float: right !important;
	position: absolute !important;
	left: 230px;
	top: 21px;
}

.open_arrow {
	float: right !important;
	position: absolute !important;
	left: 230px;
	top: 21px;
	opacity: 1;
}

/*************************************************************
 *
 * Features Pop-Up
 *
 ************************************************************/

a.selected {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}

#core_1 {
	display: none;
}

#core_2 {
	display: none;
}

#core_3 {
	display: none;
}

#core_4 {
	display: none;
}

#core_5 {
	display: none;
}

#platform_1 {
	display: none;
}

#platform_2 {
	display: none;
}

#platform_3 {
	display: none;
}

#platform_4 {
	display: none;
}

#platform_5 {
	display: none;
}

#experience_1 {
	display: none;
}

#experience_2 {
	display: none;
}

#experience_3 {
	display: none;
}

#experience_4 {
	display: none;
}

.messagepop {
	background-color: #FFFFFF;
	cursor: default;
	position: absolute;
	text-align: left;
	width: 196px;
	z-index: 50;
	padding: 25px 25px 20px;
}

.messagepop:after, .messagepop:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messagepop:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 18px;
	margin-left: -18px;
}

.messagepop:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: fff;
	border-width: 32px;
	margin-left: -32px;
}

.messagepop .close_btn {
	float: right !important;
	bottom: 15px;
	left: 15px;
	cursor: pointer;
}

.messagepop .message_copy h4 {
	font-size: 15px;
	color: #e07a00;
	margin-bottom: 10px;
}

.messagepop .message_copy p {
	font-size: 12px;
	margin-bottom: 10px;
}

.messagepop .message_gfx {
	float: left : 200px;
	display: none;
}

.messagepop.message_experience {
	top: 25px;
	left: -6px;
}

.messagepop.message_platform {
	top: 25px;
	left: -6px;
}

.messagepop.message_core {
	top: 25px;
	left: -6px;
}

.messagepop .view_more {
	color: #fff;
	background-color: #ef8200;
	cursor: pointer;
	float: left;
	border-radius: 15px;
	width: 73px;
	height: 15px;
	padding-bottom: 0px;
	text-align: center;
	margin-bottom: 0px !important;
	display: none;
}

.messagepop .view_more a {
	color: #fff !important;
	text-decoration: none;
	position: relative;
	top: 1px;
	font-size: 12px !important;
}

label {
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
	text-indent: -15px;
}

.section#benefits{background:#4791dc;color:#fff;}
/*************************************************************
 *
 * Benefits Section
 *
 ************************************************************/

.section#benefits {
	position: relative;
	background-color: #4891dc;
	padding-bottom: 80px;
	/*height: 1080px;*/
	width: 1020px;
}

.section#benefits .benefits_header {
	text-align: center;
}

.section#benefits .benefits_header h2 {
	font-size: 32px;
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #fff;
	padding-bottom: 17px;	
}

.section#benefits .benefits_header p {
	font-size: 16px;
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #fff;
	width: 650px;
	margin: 0 auto;
	line-height: 20px;	
}

.section#benefits .benefits_body {
	display: table;
	margin: 0 auto;
}

.section#benefits .benefits_body ul {
	text-align: center;
	position: relative;
	margin: 0 auto;
	margin-top: 80px;
}

.section#benefits .benefits_body ul li {
	display: inline;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
}

.section#benefits .benefits_body ul li span {
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.section#benefits .benefits_body ul .flipbox {
	cursor: pointer;
}

.section#benefits .benefits_body ul li .help_icons {
	margin-bottom: 30px;
}

.section#benefits .benefits_body ul li p {
	font-family: 'Gotham', 'Arial', sans-serif;
	font-size: 18px;
	color: #fff;
	opacity: .8;
}

.section#benefits .benefits_body ul li .plus_icon {
	margin-top: 20px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid white;
	margin: 0 auto;
	margin-top: 15px;
	position: relative;
}

.section#benefits .benefits_copy {
	width: 740px;
	margin: 0 auto;
	background-color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	display: table;
}

.section#benefits .benefits_copy .sub_header {
	color: #363535;
	font-size: 14px;
	text-align: left;
	line-height: 17px;
	padding-bottom: 30px;
}

.section#benefits .benefits_copy .learn_more {
	clear: both;
	padding-top: 30px;
	display: none;
}

.section#benefits .benefits_copy .learn_more span {
	font-family: 'Gotham-Bold', 'Arial', sans-serif;
	font-size: 13px;
	color: #3d3d3d;
	padding-bottom: 0px;
}

.section#benefits .benefits_copy .learn_more .click_here {
	text-decoration: underline;
	color: #3e89d6;
}

.section#benefits .benefits_copy p {
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #3d3d3d;
	font-size: 13px;
	line-height: 20px;
}

.section#benefits .benefits_copy .benefits_breadcrumb {
	display: none;
}

.section#benefits .benefits_copy .benefits_breadcrumb span {
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #686868;
	font-size: 12px;
	padding-bottom: 5px;
}

.section#benefits .benefits_copy .benefits_breadcrumb .selected {
	color: #4891dc;
}

.section#benefits .benefits_copy h3 {
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #408ad5;
	font-size: 24px;
	padding-bottom: 10px;
	padding-top: 20px;
	text-align: left;
}

.section#benefits .benefits_copy h4 {
	font-family: 'Gotham', 'Arial', sans-serif;
	color: #4891dc;
	font-size: 17px;
	padding-bottom: 3px;
	text-align: left;
}

.section#benefits .benefits_copy .copy_left {
	float: left;
	width: 50%;
}

.section#benefits .benefits_copy .copy_right {
	float: right;
	width: 45%;
}

.section#benefits .operations_copy {
	display: none;
}

.section#benefits .developers_copy {
	display: none;
}


.section#roadmap .roadmap_header{
	text-align:center;
}

.section#roadmap .roadmap_header h2 {
	padding-bottom: 17px;
}

.section#roadmap{color:#4791dc;}
.section#roadmap h2:before,.section#roadmap h2:after{width:170px;border-top:1px solid #ccc;}

.section#roadmap #carousel{color:#333;font-size:.95em;}
.section#roadmap #carousel .cycle-carousel-wrap p{white-space:normal !important;}
.section#roadmap #carousel #cycle-2 .cycle-slide {margin:0 -165px 0 255px;padding:25px;width:460px;height:250px;background:#eee;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info{float:left;width:340px;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p.date{margin-bottom:1.2em;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p.event{margin-bottom:.2em;font-size:1.4em;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p.green{color:#5a8e21;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p.orange{color:#ee8200;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p.blue{color:#4791dc;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p.purple{color:#a980a6;}
.section#roadmap #carousel #cycle-2 .cycle-slide .info p{margin-bottom:1em;font-size:.9em;line-height:1.4em;}
.section#roadmap #carousel #cycle-2 .cycle-slide .logo{float:right;margin-top:75px;width:100px;}
.section#roadmap .cycle-prev {display:block;position:absolute;margin:130px 0 0 225px;width:19px;height:39px;background:url(../gfx/left_arrow_timeline.png);text-indent:19px;overflow:hidden;z-index:1;}
.section#roadmap .cycle-next {display:block;position:absolute;margin:130px 0 0 775px;width:19px;height:39px;background:url(../gfx/right_arrow_timeline.png); text-indent:19px;overflow:hidden;z-index:1;}
.section#roadmap #pager{margin:30px auto;text-align:center;}
.section#roadmap #pager a{display:inline-block;text-align:right;margin:0 25px;width:30px;height:30px;}
.section#roadmap #pager a.cycle-pager-active,#pager a:hover{background-position:center bottom;}
.section#roadmap hr.line{position:absolute;left:50%;margin:-50px 0 0 -250px;width:500px;border:0;border-top:1px solid #ccc;z-index:-999;}

.modal{display:none;position:absolute;top:100px;background:#fff;z-index:0;}
.modal .close{display:block;position:absolute;right:0;margin:10px;width:30px;height:30px;background-image: url('../gfx/close_video.png');z-index:1;}
.modal .legacy{display:none;}

footer{padding:20px 20px 30px 20px;height:50px;background:#666;color:#fff;font-size:.75em;}
footer .logo-btm{margin-bottom:12px;width:275px;height:24px;background:url(../gfx/bottom_logo.png);}