  #maincontainer {
    width:1020px;
    height: 100%;
  }
  
  
  header .logo{
  float:right;
  width:195px;
  height:55px;
  margin-right:150px;
  margin-bottom:0px;
  background:url(http://dev.hub.mckesson.com/gfx/top_logo.png);
  }
  
  header .logo a{
  display:block;
  height:50px;
  text-indent:200px;
  overflow:hidden;
}

  div.words
  {
	  display:inline;
	  margin:5px;
  }
  
   div.img
  {
  margin:3px;
  padding: 3px;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  position:relative;
  
  }
div.img img
  {
  display:inline;
  margin:5px;
  border:5px solid #ffffff;
  border-radius:0px;
 
  }
div.img a:hover img
  {
  border:5px solid #fff;
}

  #leftcolumn {
	float: left;
	display: inline-block;
	width: 300px;
	height: 100%;
	border-radius: 25px;
	margin-right: 20px;
	position: relative;
	margin-left: 100px;
	background-color: #FFFFFF;
  }
 
  
  
  #contentwrapper {
	float: left;
	display: inline-block;
	width: 530px;
	height: 100%;
	background-color: #FFFFFF;
	border-radius: 25px;
	position: relative;
	 
  }
 

.box1 {
  display: inline-block;
  width: 600px;
  height: 100px;
  margin: 1em;
  vertical-align: top;
}

  #bodytext {
      font-family: 'roboto', arial, sans-serif;
      color: #333;
      margin-bottom: 10px;
      line-height: 16px;
      font-size: 18px;
      vertical-align: middle;
  }
  #bodytextsub{
      font-family: 'roboto', arial, sans-serif;
      color: #333;
      margin-bottom: 5px;
      line-height: 16px;
      font-size: 14px;


  }

  table.about {
      display: inline-block;
      width: 600px;
      white-space: wrap;
  }
  td {
      white-space: wrap;
      width: auto;
      height: auto;


  }
  td.content {
      white-space: wrap;
      width: 250px;
      height: auto;


  }


