@charset "utf-8";
#maincontainer {
    width:100%;
    height: 100%;
}


header .logo{
    float:right;
    width:195px;
    height:55px;
    margin-right:150px;
    margin-bottom:0px;
    background:url(http://dev.hub.mckesson.com/gfx/top_logo.png);

}

header .logo a{
    display:block;
    height:50px;
    text-indent:200px;
    overflow:hidden;
}

div.words
{
    display:inline;
    margin:0px;
}

div.img
{
    margin:3px;
    padding: 3px;
    height:auto;
    width:auto;
    float:left;
    text-align:center;
    position:relative;
}
div.img img
{
    display:inline;
    margin:5px;
    border:5px solid #ffffff;
    border-radius:0px;
}

.imageDiv
{
    border:5px solid #ffffff;
    border-radius:0px;
}

div.img a:hover img
{
    border:5px solid #fff;

}
/* IE 6 */
* html .footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

a:hover{
    text-decoration: none;
}


.footerTeam {
    margin-top:920px;
}


.logo-btm {
    margin-bottom: 12px;
    width: 275px;
    height: 24px;
    background: url(http://hub.mckesson.com/gfx/bottom_logo.png) repeat scroll 0% 0% transparent;
}

#leftcolumn {
    float:left;
    display:inline-block;
    height: 100%;
    background: #fff;
    border-radius:25px;
    position: relative;
}

.leftColumnWidth {
    width: 510px;
}

#header1 {
    font-family: 'Rokkitt', georgia, serif;
    color: #ef8200;
    font-size: 56px;
    margin-bottom: 10px;
    line-height: 65pt;
    margin-left: 0px;
    text-align: center;
    font-weight: bold;
}

#header2 {
    font-family: 'roboto', arial, sans-serif;
    color: #4397d2;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30pt;
    margin-left: 0px;
    padding-left: 10px;
}
#header3 {
    font-family: 'roboto', Arial, sans-serif;
    color: #58ae22;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30pt;
    margin-left: 0px;
    padding-left: 10px;
}


div.name {
    font-family: 'Roboto';
    color: #000;
    font-size: 12px;
    height: 40px;
}

.titleFormat {
    font-family: 'roboto';
    color: #666;
    font-style: italic;
    font-size: 11px;
    width:110px;
    display: block;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}




#contentwrapper {
    float:left;
    display:inline-block;
    height: 100%;
    background-color: #fff;
    border-radius:25px;
    position: relative;
    padding-bottom: 100px;
}

.contentWrapperWidth{
    width: 510px;
}

.contentWrapperWidthLarge{
    width:685px;
}



.box1 {
    display: inline-block;
    width: 600px;
    height: 100px;
    margin: 1em;
    vertical-align: top;
}/* CSS Document */


.bodytext {
    font-family: 'roboto', arial, sans-serif;
    color: #333;
    margin-bottom: 10px;
    line-height: 16px;
    font-size: 18px;
    vertical-align: middle;
}
.bodytextsub{
    font-family: 'roboto', arial, sans-serif;
    color: #333;
    margin-bottom: 5px;
    line-height: 16px;
    font-size: 14px;
}

body{
    width: 100%;
}





/*table.about {
    display: inline-block;
    width: 600px;
    white-space: wrap;
}
td {
    white-space: wrap;
    width: auto;
    height: auto;


}
td.content {
    white-space: wrap;
    width: 250px;
    height: auto;


}*/

