<div ng-show="member.imagePath != ''">
    <div ng-show="member.imageHoverPath != ''">
        <a ng-href="#/member/{{member.firstName}}/{{member.lastName}}">
            <div class="imageDiv"
                 style="width: 100px; height: 100px"
                 ng-style="{'background-image' : 'url(data/Images/'+ member.imagePath + '.png' +')'}"
                 onmouseover="setBackgroundUrl(this,'{{member.imageHoverPath}}','.png');"
                 onmouseout="setBackgroundUrl(this,'{{member.imagePath}}','.png');">&nbsp;</div>
        </a>
    </div>
    <div ng-show="member.imageHoverPath == ''">
        <a ng-href="#/member/{{member.firstName}}/{{member.lastName}}">
            <div class="imageDiv" style="width: 100px; height: 100px"
                 ng-style="{'background-image' : 'url(data/Images/'+ member.imagePath + '.png' +')'}"></div>
        </a>
    </div>
</div>
<div ng-show="member.imagePath == ''">
    <a ng-href="#/member/{{member.firstName}}/{{member.lastName}}">
        <div ng-show="member.gender == 'M'">
            <div class="imageDiv" style="background: url('data/Images/man.png'); width:100px; height:100px"></div>
        </div>
        <div ng-show="member.gender == 'F'">
            <div class="imageDiv" style="background: url('data/Images/female-small.png'); width:100px; height:100px"></div>
        </div>
    </a>
</div>
<div class="name">{{member.firstName}} {{member.lastName}}<br/><span
    style="word-wrap: break-word" width="100" class="titleFormat">{{member.title}}</span></div>