<div id="maincontainer">
    <div id="leftcolumn" class="leftColumnWidth">
        <div><span id="header2">Hub Product Management Team</span></div>
        <div class="img" ng-repeat="member in productList">
            <div ng-include src="'memberdetail.html'"></div>
        </div>
    </div>
    <div id="contentwrapper" class="contentWrapperWidth">
        <div><span id="header3">Hub Development Team</span></div>
        <div class="img" ng-repeat="member in membersList">
            <div ng-include  src="'memberdetail.html'"></div>
        </div>
    </div>
</div>







