
<div id="maincontainer">
  <div id="leftcolumn">
      <div class="pic">

          <div ng-show="member.profileImgPath != ''">
  <div class="img"><img ng-src="{{'data/Images/'+member.profileImgPath + '.jpg'}}" width="300" /> </div>
              </div>
          <div ng-show="member.profileImgPath == ''">

              <div ng-show="member.gender == 'M'">
                  <div class="img"><img ng-src="{{'data/Images/man-profile.png'}}" width="300" /> </div>
              </div>
              <div ng-show="member.gender == 'F'">
                  <div class="img"><img ng-src="{{'data/Images/female.png'}}" width="300" /> </div>
              </div>
          </div>

      </div></div>
<div id="contentwrapper" class="contentWrapperWidthLarge">
<table id="name"><tr><td class="name">
<div><span id="header2">
MEET {{member.firstName.toUpperCase()}} {{member.lastName.toUpperCase()}}</span></div></td></tr>

<tr><td class="name"><div><Span id="header3">
{{member.title}}</span></div></td></tr>
<tr>
    <td>
<!-- Table markup-->
<table id="about">
	<!-- Table header -->
		<thead>
			<tr>
				<th scope="col"></th>
			</tr>
		</thead>
	<!-- Table footer -->
		<tfoot>
		</tfoot>
	<!-- Table body -->
		<tbody>
			<tr>
				<td width="50px"><div class="img"><img src="data/Images/nametag.png" width="48" height="48" /></div></td><td class="content">
<div class="words"><span class="bodytext">
Office: <span class="bodytextsub">{{member.officeCity}}</span></span>
</div>
</td>
<td width="50px"><div class="img"><img src="data/Images/pin.png" width="48" height="48" /></div></td><td class= "content">
<div class="words"><span class="bodytext">
Home: <span class="bodytextsub">{{member.homeCity}}</span></span>
</div>
</td></tr>
            <tr>
<td width="50px"><div class="img"><img src="data/Images/time.png" width="48" height="48" /></div></td>
<td class="content">
<div class="words"><span class="bodytext">
Hub Team Member Since: <br/><span class="bodytextsub">{{member.joined}}</span></span>
</div>
</td>
<td width="50px"><div class="img"><img src="data/Images/phone.png" width="48" height="48" /></div></td>
<td class="content">
<div class="words"><span class="bodytext">
Phone: <span class="bodytextsub">{{member.phone}}</span></span>
</div>
</td>
			</tr>
            <tr>
				<td width="50px"><div class="img"><img src="data/Images/email.png" width="48" height="48" /></div></td>
                <td class="content">
<div class="words"><span class="bodytext">
Email: <br/><span class="bodytextsub"><a href="mailto:{{member.email}}">{{member.email}}</a></span></span>
</div>
</td>
<td width="50px"><div class="img"><img src="data/Images/bookmark.png" width="48" height="48" /></div></td><td class="content">
<div class="words"><span class="bodytext">
Favorites: </span>
<span class="bodytextsub"><br />
<span ng-show="member.movies != null && member.movies.trim().length > 0"> <span class="favSubTitle">Movies and TV</span>: {{member.movies}}<br /></span>
<span ng-show="member.favQuote != null && member.favQuote.trim().length > 0"><span class="favSubTitle">Quote</span>: {{member.favQuote}}<br /></span>
<span ng-show="member.favSport != null && member.favSport.trim().length > 0"><span class="favSubTitle">Sport</span>: {{member.favSport}}<br /></span>
<span ng-show="member.favBook != null && member.favBook.trim().length > 0"><span class="favSubTitle">Books</span>: {{member.favBook}}<br /></span>
<span ng-show="member.favAuthor != null && member.favAuthor.trim().length > 0"><span class="favSubTitle">Author</span>: {{member.favAuthor}}<br/></span>
</span>
</div>
</td></tr>
<tr><td width="50px"><div class="img"><img src="data/Images/bike.png" width="48" height="48" /></div></td>
<td class="content">
<div class="words"><span class="bodytext">
Hobbies: <br />
   <span class="bodytextsub"> {{member.hobbies}}</span>
</span>
</div>
</td>
<td width="50px"><div class="img"><img src="data/Images/fun.png" width="48px" height="48px" /></div></td>
<td class="content">
<div class="words"><span class="bodytext">
Family or personal fun fact: <br /><span class="bodytextsub">{{member.famOrPersonFunFact}}</span><br />
</span>
</div>

</td>
</tr>
<tr>
<td width="50px"><div class="img"><img src="data/Images/twitter.png" width="" height="" /></div></td>
<td class="content">
<div class="words"><span class="bodytextsub"><a href="https://twitter.com/{{member.twitterId}}"/>@{{member.twitterId}}</a></span>
</div>
				</td>
                
                <td width="50px"><div class="img"><img src="data/Images/linked.png" width="" height="" /></div></td>
<td class="content">
<div class="words"><span class="bodytextsub"><a href="http://www.linkedin.com/in/{{member.linkedInId}}">{{member.linkedInId}}</a>
</span>
</div>
				</td>
			</tr>
			
		</tbody>

</table>
    </td>
</tr></table>
</div>
</div>


